/*
	----------------------------------------------------------------------------
	Configurações globais
	----------------------------------------------------------------------------
 */

/*
	|-- bases
 */

//seletores
figure {
	margin: 0;
}

a {
	@extend %transition;
	&:hover {
		@extend .marine;
	}
}

//publicidades
.themeads {
	img,iframe,embed,object {
		@extend .small-12;
	}

	&.big {
		width: rem-calc(728);
	}
}

//painel geral de postagens
.panel-post {
	@extend .ov-hidden;

	figcaption {
		@extend .bg-glass;
		@extend %transition;
		
		a {
			@extend .d-block;
			@extend .white;
			padding: rem-calc(10 20);
		}

		&:hover {
			@extend .bg-primary;
		}
	}
	
	h3 {
		@extend .lh-small;
		@extend .no-margin;
	}

	&:hover { 
		.get-thumb {
			@extend .zoom;
		}
	}
	&.medium-block {
		height: rem-calc(200);
		&.aside {
			height: rem-calc(420);
		}
		h3 {
			font-size: rem-calc(20);
		}
	}
}

%anchor-flag {
	a {
		@extend .white;
		@extend .d-block;
		padding: rem-calc(5 16);
		&:hover {
			@extend .white;
			opacity: .6;
		}
	}
}

.cat-flag {
	@extend .abs;
	@extend .p-left;
	@extend .p-top;
	@extend .no-margin;
	@extend .font-medium;
	@extend .text-up;
	@extend %anchor-flag; 
}

.cat-flag-aside {
	@extend %anchor-flag; 
}

/*
	----------------------------------------------------------------------------
	Header
	----------------------------------------------------------------------------
 */

//menu do topo
.top-menu {
	@extend .bg-ghost;
	padding-top: rem-calc(6);
	padding-bottom: rem-calc(6);

	h3 {
		@extend .no-margin;
		@extend .font-xmedium;
	}
}

.li-marine {
	border-color: $marine;
	&:hover, &.current-menu-item {
		@extend .bg-marine;
	}
}
.post-marine {
	&:hover {
		@extend .marine;
	}
}

.li-yellow {
	border-color: $yellow;
	&:hover, &.current-menu-item {
		@extend .bg-yellow;
	}
}
.post-yellow {
	&:hover {
		@extend .yellow;
	}
}

.li-blue {
	border-color: $blue;
	&:hover, &.current-menu-item {
		@extend .bg-blue;
	}
}
.post-blue {
	&:hover {
		@extend .blue;
	}
}

.li-green {
	border-color: $green;
	&:hover, &.current-menu-item {
		@extend .bg-green;
	}
}
.post-green {
	&:hover {
		@extend .green;
	}
}

.li-sky {
	border-color: $sky;
	&:hover, &.current-menu-item {
		@extend .bg-sky;
	}
}
.post-sky {
	&:hover {
		@extend .sky;
	}
}

.li-violet {
	border-color: $violet;
	&:hover, &.current-menu-item {
		@extend .bg-violet;
	}
}
.post-violet {
	&:hover {
		@extend .violet;
	}
}

.li-orange {
	border-color: $orange;
	&:hover, &.current-menu-item {
		@extend .bg-orange;
	}
}
.post-orange {
	&:hover {
		@extend .orange;
	}
}

.li-red {
	border-color: $red;
	&:hover, &.current-menu-item {
		@extend .bg-red;
	}
}
.post-red {
	&:hover {
		@extend .red;
	}
}

//menu principal
#main-menu {
	ul {
		border-bottom: 5px solid $marine;
	}
	li {
		@extend .d-block;
		@extend %no-margin-left-first;
		@extend .no-margin;
		@extend %transition;
		border-top-style: solid;
		border-top-width: 5px;

		&.current-menu-item {
			a {
				@extend .white;
			}
		}
	}
	h3 {
		@extend .font-large;
		@extend .no-margin;
	}
	a {
		@extend .d-block;
		padding: rem-calc(14 37);
		&:hover {
			@extend .white;
		}
	}
}

/*
	----------------------------------------------------------------------------
	Home
	----------------------------------------------------------------------------
 */

//Slide principal de destaques
#features-slide, .feature-post {
	figure {
		height: rem-calc(420);
		@extend .bg-ghost;
	}

	&:hover {
		.next-feature,
		.prev-feature {
			@include translateX(0);
		}
	}
}

.nav-slide {
	@extend .bg-glass;
	@extend .panel-10;
	@extend .white;
	top: 45%;
	z-index: 999;

	&:hover {
		@extend .white;
		@extend .bg-primary;
	}
}

.next-feature {
	@include translateX(100%);
}
.prev-feature {
	@include translateX(-100%);
}

//noticias em destaque
.news-column-1 {
	figure {
		&:first-child {
			margin-bottom: rem-calc(20);
		}
	}
}

/*
	----------------------------------------------------------------------------
	Sidebar
	----------------------------------------------------------------------------
 */

.aside-widget {
	padding: rem-calc(10);
}

.widget-group {
	@extend .bg-ghost;
	padding: rem-calc(10);
}

.post-sidebar {
	hgroup {
		width: rem-calc(240);
		@extend .no-margin;
		@extend .left;
	}
	figure {
		width: rem-calc(80);
		height: rem-calc(90);
		@extend .right;
		@extend %transition;
		&:hover {
			opacity: .8;
		}
	}
}

//Tabs
.tabs-choose {
	a {
		@extend .d-block;
		padding: rem-calc(5 10);

		&:hover, &.active {
			@extend .white;
			@extend .bg-primary;
		}
	}

	li {
		&:not(:first-child) {
			margin-left: rem-calc(10);
		}
	}
}

/*
	----------------------------------------------------------------------------
	Footer
	----------------------------------------------------------------------------
 */
.footer-menu {
	h6 {
		@extend .no-margin;
	}

	a {
		@extend .white;
		&:hover {
			@extend .ghost;
		}
	}
}