/**
 * 320
 */
@media #{$small-only} {
	.row {
		width: rem-calc(320);
		min-width: inherit !important;
	}

	//slide principal de destaques (Home)
	#features-slide, .feature-post {
		.panel-post {
			height: rem-calc(300);
			h3 {
				font-size: rem-calc(18);
			}
		}
	}

	.medium-block.aside {
		height: rem-calc(200) !important;
	}

	.item-post {
		.pl-20 {
			padding-left: 0 !important;
		}
	}

	.tabs-choose {
		h6 {
			font-size: rem-calc(12);
		}
	}
	.post-sidebar {
		hgroup {
			width: rem-calc(170);
		}
	}
}

/**
 * 768
 */
@media #{$medium-only} {
	.row {
		width: rem-calc(768);
		min-width: inherit !important;
	}

	//slide principal de destaques (Home)
	#features-slide, .feature-post {
		.panel-post {
			height: rem-calc(360);
			h3 {
				font-size: rem-calc(20);
			}
		}
	}
	.panel-post.medium-block {
		height: rem-calc(170);

		h3 {
			font-size: rem-calc(16);
		}
	}

	.medium-block.aside {
		height: rem-calc(360) !important;
	}
	
	//sidebar
	.post-sidebar {
		hgroup {
			width: rem-calc(260);
		}
	}

}

/**
 * 1200
 */
@media #{$large-up} {
	.widget-group {
		height: rem-calc(2500);
	}
	//ultimas noticias
	.item-post {
		h3 {
			a {
				height: rem-calc(75);
			}
		}
	}

	.list-news {
		figure {
			height: rem-calc(160) !important;
		}
	}
}