@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ng7uxg');
	src:url('fonts/icomoon.eot?#iefixng7uxg') format('embedded-opentype'),
		url('fonts/icomoon.woff?ng7uxg') format('woff'),
		url('fonts/icomoon.ttf?ng7uxg') format('truetype'),
		url('fonts/icomoon.svg?ng7uxg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-down:before {
	content: "\e600";
}

.icon-chevron-thin-left:before {
	content: "\e601";
}

.icon-chevron-thin-right:before {
	content: "\e602";
}

.icon-chevron-thin-up:before {
	content: "\e603";
}

.icon-chevron-with-circle-down:before {
	content: "\e604";
}

.icon-chevron-with-circle-left:before {
	content: "\e605";
}

.icon-chevron-with-circle-right:before {
	content: "\e606";
}

.icon-chevron-with-circle-up:before {
	content: "\e607";
}

.icon-controller-paus:before {
	content: "\e608";
}

.icon-controller-play:before {
	content: "\e609";
}

.icon-controller-stop:before {
	content: "\e60a";
}

.icon-heart:before {
	content: "\e60b";
}

.icon-menu:before {
	content: "\e60c";
}

.icon-text-document:before {
	content: "\e60d";
}

.icon-instagram-with-circle:before {
	content: "\e60e";
}

.icon-instagram:before {
	content: "\e60f";
}

.icon-vimeo-with-circle:before {
	content: "\e610";
}

.icon-vimeo:before {
	content: "\e611";
}

.icon-bubble:before {
	content: "\e96b";
}

.icon-bubbles2:before {
	content: "\e96d";
}

.icon-google:before {
	content: "\ea87";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-google-plus3:before {
	content: "\ea8a";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-twitter3:before {
	content: "\ea93";
}

.icon-youtube:before {
	content: "\ea97";
}

.icon-youtube2:before {
	content: "\ea98";
}

.icon-youtube3:before {
	content: "\ea99";
}



/*
	------------------------------------------------------------------------
	Placeholders
	------------------------------------------------------------------------
 */
%full-height {
	height: 100%;
}
%bg-primary-shade {
	background-color: shade($primary-color,10%);
}
%transition {
	@include transition(all .2s linear);
}
%top-radius {
	border-radius: 6px 6px 0 0;
}
%bottom-radius {
	border-radius: 0 0 6px 6px;
}
%no-margin-left-first {
	&:first-child {
		margin-left: 0;
	}
}
%round-border {
	border-radius: 100%;
}

/*
	------------------------------------------------------------------------
	Typograph
	------------------------------------------------------------------------
 */

//Sizes
.font-tiny {
	font-size: rem-calc(10) !important; 
}

.font-smallest {
	font-size: rem-calc(11);
}

.font-small {
	font-size: rem-calc(12) !important; 
}

.font-medium {
	font-size: rem-calc(14) !important;
}

.font-xmedium {
	font-size: rem-calc(15) !important;
}

.font-normal {
	font-size: rem-calc(16) !important;
}

.font-large {
	font-size: rem-calc(18) !important;
}

.font-header {
	font-size: rem-calc(20) !important;
}

.font-xlarge {
	font-size: rem-calc(22) !important;
}

//Weights
.font-regular {
	font-weight: 400 !important;
}

.font-bold {
	font-weight: 700 !important;
}

//line heights
.lh-normal {
	line-height: 1.4;
}

.lh-small {
	line-height: 1.2;
}

.lh-zero {
	line-height: 0 !important;
}

.lh-1 {
	line-height: 1.1;
}

//Caps
.text-up {
	text-transform: uppercase;
}

.text-low {
	text-transform: lowercase;
}

//Colors
.primary {
	color: $primary-color !important;
}
.white {
	color: $white !important;
}
.silver {
	color: $silver !important;
}
.marine {
	color: $marine !important;
}
.yellow {
	color: $yellow !important;
}
.sky {
	color: $sky !important;
}
.orange {
	color: $orange !important;
}
.green {
	color: $green !important;
}
.violet {
	color: $violet !important;
}
.red {
	color: $red !important;
}
.blue {
	color: $blue !important;
}
.ghost {
	color: $ghost !important;
}

/*
	------------------------------------------------------------------------
	Displays
	------------------------------------------------------------------------
 */
.d-block {
	display: block !important;
}
.d-iblock {
	display: inline-block !important;
}
.d-table {
	display: table;
}
.middle {
	display: table-cell;
	vertical-align: middle;
}
.full-height {
	@extend %full-height;
}
.ov-hidden {
	overflow: hidden;
}
.zoom {
	@include scale(1.1);
}

/*
	------------------------------------------------------------------------
	Positions
	------------------------------------------------------------------------
 */
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.p-bottom {
	bottom: 0;
}
.p-left {
	left: 0;
}
.p-right {
	right: 0;
}
.p-top {
	top: 0;
}

/*
	------------------------------------------------------------------------
	Margins
	------------------------------------------------------------------------
 */
.no-margin {
	margin: 0 !important;
}
.margin-left {
	margin-left: rem-calc(10);
}
.centered {
	margin: 0 auto;
}
.divide-10 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(10);
}
.divide-20 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(20);
}
.divide-30 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(30);
}
.divide-40 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(40);
}

/*
	------------------------------------------------------------------------
	Paddings
	------------------------------------------------------------------------
 */
.centered-v {
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(20);
}

.no-pd-left {
	padding-left: 0 !important;
}

.no-pd-right {
	padding-right: 0 !important;
}

.panel-10 {
	padding: rem-calc(10);
}

.panel-20 {
	padding: rem-calc(20);
}

.section-block {
	padding: rem-calc(40 0);
}

.pl-20 {
	padding-left: rem-calc(20);
}

.pl-10 {
	padding-left: rem-calc(10);
}

.pr-20 {
	padding-right: rem-calc(20);
}

.pr-10 {
	padding-right: rem-calc(10);
}

/*
	------------------------------------------------------------------------
	Backgrounds
	------------------------------------------------------------------------
 */
.bg-cover {
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bg-primary {
	background-color: $primary-color;
}
.bg-glass {
	background-color: rgba($black, .8);
}

//colors
.bg-ghost {
	background-color: $ghost;
}
.bg-marine {
	background-color: $marine;
}
.bg-yellow {
	background-color: $yellow;
}
.bg-blue {
	background-color: $blue;
}
.bg-green {
	background-color: $green;
}
.bg-violet {
	background-color: $violet;
}
.bg-orange {
	background-color: $orange;
}
.bg-red {
	background-color: $red;
}
.bg-sky {
	background-color: $sky;
}
.bg-night {
	background-color: $night;
}
.bg-oil {
	background-color: $oil;
}

/*
	------------------------------------------------------------------------
	Buttons
	------------------------------------------------------------------------
 */


/*
	------------------------------------------------------------------------
	Painéis
	------------------------------------------------------------------------
 */


/*
	------------------------------------------------------------------------
	border
	------------------------------------------------------------------------
 */
.no-border {
	border: none !important;
}